/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

.idea
.idea/dataSources.xml
tags
*.sublime-workspace
*.sublime-project
.project

.DS_Store
